<form [formGroup]="addEditForm" class="form" style="margin: 0px 1rem">
  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="1rem">
    <ns-input name="code" formControlName="code"
              [placeholder]="moduleName + '.code'"
              [hint]="moduleName + '.hint.code'"
              style="width: calc(33% - 1rem);"
              [required]="true" [disabled]="isEdit">
    </ns-input>
    <ns-input name="name" formControlName="name"
              [placeholder]="moduleName + '.name'"
              [hint]="moduleName + '.hint.name'"
              style="width: calc(33% - 1rem);"
              [required]="true" [disabled]="isEdit && !isExists">
    </ns-input>
    <ns-input name="address" formControlName="address"
              [placeholder]="moduleName + '.address'"
              [hint]="moduleName + '.hint.address'"
              style="width: calc(33% - 1rem);"
              [required]="true" [disabled]="isEdit && !isExists">
    </ns-input>
    <ns-input name="phone" formControlName="phone"
              [placeholder]="moduleName + '.phone'"
              [hint]="moduleName + '.hint.phone'"
              style="width: calc(33% - 1rem);">
    </ns-input>
    <ns-multi-select-autocomplete [placeholder]="moduleName + '.status'"
                name="status" formControlName="status" style="width: calc(33% - 1rem);"
                [options]="statusValues" [multiple]="false">
    </ns-multi-select-autocomplete>
  </div>
  <div class="btn-sec">
    <button mat-raised-button type="submit" color="primary" class="Update-btn" (click)="onSubmit()"
            [disabled]="addEditForm.invalid || (isEdit && !isExists)"
            *ngIf="hasAuthority()">{{'btnAddEdit'|translate}}
    </button>
    <button mat-raised-button type="submit" color="primary" class="Update-btn" (click)="back()">
      {{'btnCancel'|translate}}
    </button>
  </div>
</form>
