<div flex layout="row" layout-align="start center">
  <h2>DASHBOARD</h2>
  <div fxFlex></div>
  <div [style.width.px]="100" layout="row">
            <mat-form-field floatPlaceholder="never">
              <input matInput readonly [matDatepicker]="pickerFrom" [ngModel]="dateFrom">
              <mat-datepicker-toggle matSuffix matTooltip="Start date" [for]="pickerFrom"></mat-datepicker-toggle>
              <mat-datepicker #pickerFrom [startAt]="dateFrom"></mat-datepicker>
            </mat-form-field>

          </div>
  <div style="padding: 21px;"> to </div>
  <div [style.width.px]="100" layout="row">
            <mat-form-field floatPlaceholder="never" flex>
              <input matInput readonly [(ngModel)]="dateTo" [matDatepicker]="pickerTo">
              <mat-datepicker-toggle matSuffix matTooltip="End date" [for]="pickerTo"></mat-datepicker-toggle>
              <mat-datepicker #pickerTo [startAt]="dateTo"></mat-datepicker>
            </mat-form-field>

          </div>
  <!--<button matTooltip="Dashboard Settings" matTooltipPosition="before" type="button" mat-icon-button (clickAction)="sidenav.open()">-->
    <!--<mat-icon>settings</mat-icon>-->
  <!--</button>-->
</div>
<div fxLayout="row wrap" fxLayout.sm="column">
  <!--<div fxFlex="50" fxFlex.sm="50">-->
    <!--<img id="target">-->
  <!--</div>-->
  <!--<div fxFlex="50" fxFlex.sm="50">-->
    <!--<mat-card>-->
      <!--<mat-card-title>-->
        <!--<div layout="row" layout-align="start center">-->
          <!--<span flex>Card title</span>-->
          <!--<span>-->
                    <!--<button mat-icon-button-->
                            <!--matTooltip="Card settings"-->
                            <!--[mat-menu-trigger-for]="settings1">-->
                      <!--<mat-icon>more_vert</mat-icon>-->
                    <!--</button>-->
                    <!--<mat-menu xPosition="before" #settings1="matMenu">-->
                      <!--&lt;!&ndash;<button mat-menu-item (clickAction)="openTemplate()"> Settings </button>&ndash;&gt;-->
                      <!--&lt;!&ndash;<mat-divider></mat-divider>&ndash;&gt;-->
                      <!--<button mat-menu-item> Remove </button>-->
                    <!--</mat-menu>-->
                  <!--</span>-->
        <!--</div>-->
      <!--</mat-card-title>-->
      <!--<mat-divider></mat-divider>-->
      <!--<div [style.height.px]="280">-->
        <!--<ngx-charts-line-chart-->
          <!--[scheme]="{ domain: [ '#4DD0E1', '#BA68C8', '#FF7043' ] }"-->
          <!--[results]="times"-->
          <!--[gradient]="gradient"-->
          <!--[autoScale]="false"-->
          <!--[xAxis]="true"-->
          <!--[yAxis]="true"-->
          <!--[legend]="true"-->
          <!--[showXAxisLabel]="true"-->
          <!--[showYAxisLabel]="true"-->
          <!--[xAxisLabel]="xAxisLabel"-->
          <!--[yAxisLabel]="yAxisLabel"-->
          <!--[xAxisTickFormatting]="axisDate">-->
        <!--</ngx-charts-line-chart>-->
      <!--</div>-->
    <!--</mat-card>-->
  <!--</div>-->
  <!--<div fxFlex="50" fxFlex.sm="50">-->
    <!--<mat-card>-->
      <!--<mat-card-title>-->
        <!--<div layout="row" layout-align="start center">-->
          <!--<span flex>Card title</span>-->
          <!--<span>-->
                    <!--<button mat-icon-button-->
                            <!--matTooltip="Card settings"-->
                            <!--[mat-menu-trigger-for]="settings2">-->
                      <!--<mat-icon>more_vert</mat-icon>-->
                    <!--</button>-->
                    <!--<mat-menu xPosition="before" #settings2="matMenu">-->
                      <!--&lt;!&ndash;<button mat-menu-item> Settings </button>&ndash;&gt;-->
                      <!--&lt;!&ndash;<mat-divider></mat-divider>&ndash;&gt;-->
                      <!--<button mat-menu-item> Remove </button>-->
                    <!--</mat-menu>-->
                  <!--</span>-->
        <!--</div>-->
      <!--</mat-card-title>-->
      <!--<mat-divider></mat-divider>-->
        <!--<div [style.height.px]="280">-->
          <!--<ngx-charts-bar-vertical-2d-->
            <!--[scheme]="{ domain: [ '#4DD0E1', '#BA68C8', '#FF7043' ] }"-->
            <!--[results]="multi"-->
            <!--[barPadding]="18"-->
            <!--[groupPadding]="28"-->
            <!--[gradient]="true"-->
            <!--[xAxis]="true"-->
            <!--[yAxis]="true"-->
            <!--[legend]="false"-->
            <!--[showXAxisLabel]="false"-->
            <!--[showYAxisLabel]="false">-->
          <!--</ngx-charts-bar-vertical-2d>-->
        <!--</div>-->
    <!--</mat-card>-->
  <!--</div>-->
  <!--<div fxFlex="50" fxFlex.sm="50">-->
    <!--<mat-card>-->
      <!--<mat-card-title>-->
        <!--<div layout="row" layout-align="start center">-->
          <!--<span flex>Card title</span>-->
          <!--<span>-->
                    <!--<button mat-icon-button-->
                            <!--matTooltip="Card settings"-->
                            <!--[mat-menu-trigger-for]="settings3">-->
                      <!--<mat-icon>more_vert</mat-icon>-->
                    <!--</button>-->
                    <!--<mat-menu xPosition="before" #settings3="matMenu">-->
                      <!--&lt;!&ndash;<button mat-menu-item> Settings </button>&ndash;&gt;-->
                      <!--&lt;!&ndash;<mat-divider></mat-divider>&ndash;&gt;-->
                      <!--<button mat-menu-item> Remove </button>-->
                    <!--</mat-menu>-->
                  <!--</span>-->
        <!--</div>-->
      <!--</mat-card-title>-->
      <!--<mat-divider></mat-divider>-->
      <!--<div>-->
        <!--<div [style.height.px]="280">-->
          <!--<div [style.height.px]="280">-->
            <!--<ngx-charts-area-chart-stacked-->
              <!--[scheme]="{ domain: [ '#4DD0E1', '#BA68C8', '#FF7043' ] }"-->
              <!--[results]="times"-->
              <!--[gradient]="true"-->
              <!--[xAxis]="true"-->
              <!--[yAxis]="true"-->
              <!--[legend]="false"-->
              <!--[showXAxisLabel]="true"-->
              <!--[showYAxisLabel]="true"-->
              <!--[xAxisLabel]="xAxisLabel"-->
              <!--[yAxisLabel]="yAxisLabel"-->
              <!--[xAxisTickFormatting]="axisDate">-->
            <!--</ngx-charts-area-chart-stacked>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</mat-card>-->
  <!--</div>-->
  <!--<div fxFlex="50" fxFlex.sm="50">-->
    <!--<mat-card>-->
      <!--<mat-card-title>-->
        <!--<div layout="row" layout-align="start center">-->
          <!--<span flex>Card title</span>-->
          <!--<span>-->
                    <!--<button mat-icon-button-->
                            <!--matTooltip="Card settings">-->
                            <!--&lt;!&ndash;[mat-menu-trigger-for]="settings5"&ndash;&gt;-->
                      <!--<mat-icon>more_vert</mat-icon>-->
                    <!--</button>-->
                    <!--<mat-menu xPosition="before">-->
                              <!--&lt;!&ndash;#settings5="matMenu"&ndash;&gt;-->
                      <!--&lt;!&ndash;<button mat-menu-item> Settings </button>&ndash;&gt;-->
                      <!--&lt;!&ndash;<mat-divider></mat-divider>&ndash;&gt;-->
                        <!--<button mat-menu-item> Remove </button>-->
                    <!--</mat-menu>-->
                  <!--</span>-->
        <!--</div>-->
      <!--</mat-card-title>-->
      <!--<mat-divider></mat-divider>-->
      <!--<mat-nav-list>-->
        <!--<a mat-list-item>-->
          <!--<mat-icon matListAvatar color="primary">mood</mat-icon>-->
          <!--<h3 mat-line>Candy</h3>-->
          <!--<p mat-line>exceeding goal!</p>-->
          <!--<div style="height: 70px; width: 100%">-->
            <!--<ngx-charts-linear-gauge-->
              <!--[scheme]="{ domain: [ '#4DD0E1' ] }"-->
              <!--[value]="90"-->
              <!--[previousValue]="80"-->
              <!--[min]="0"-->
              <!--[max]="100"-->
              <!--[units]="'alerts'">-->
            <!--</ngx-charts-linear-gauge>-->
          <!--</div>-->
        <!--</a>-->
        <!--<mat-divider mat-inset></mat-divider>-->
        <!--<a mat-list-item>-->
          <!--<mat-icon matListAvatar color="accent">sentiment_satisfied</mat-icon>-->
          <!--<h3 mat-line>Ice Cream</h3>-->
          <!--<p mat-line>goal almost achieved!</p>-->
          <!--<div style="height: 70px; width: 100%">-->
            <!--<ngx-charts-linear-gauge-->
              <!--[scheme]="{ domain: [ '#BA68C8' ] }"-->
              <!--[value]="60"-->
              <!--[previousValue]="70"-->
              <!--[min]="0"-->
              <!--[max]="100"-->
              <!--[units]="'alerts'">-->
            <!--</ngx-charts-linear-gauge>-->
          <!--</div>-->
        <!--</a>-->
        <!--<mat-divider mat-inset></mat-divider>-->
        <!--<a mat-list-item>-->
          <!--<mat-icon matListAvatar color="warn">sentiment_very_dissatisfied</mat-icon>-->
          <!--<h3 mat-line>Pastry</h3>-->
          <!--<p mat-line>falling short of goal!</p>-->
          <!--<div style="height: 70px; width: 100%">-->
            <!--<ngx-charts-linear-gauge-->
              <!--[scheme]="{ domain: [ '#FF7043' ] }"-->
              <!--[value]="40"-->
              <!--[previousValue]="60"-->
              <!--[min]="0"-->
              <!--[max]="100"-->
              <!--[units]="'alerts'">-->
            <!--</ngx-charts-linear-gauge>-->
          <!--</div>-->
        <!--</a>-->
      <!--</mat-nav-list>-->
    <!--</mat-card>-->
  <!--</div>-->
  <!--<div fxFlex="50" fxFlex.sm="50">-->
    <!--<mat-card>-->
      <!--<mat-card-title>-->
        <!--<div layout="row" layout-align="start center">-->
          <!--<span flex>Card title</span>-->
          <!--<span>-->
                    <!--<button mat-icon-button-->
                            <!--matTooltip="Card settings"-->
                            <!--[mat-menu-trigger-for]="settings1">-->
                      <!--<mat-icon>more_vert</mat-icon>-->
                    <!--</button>-->
                    <!--<mat-menu xPosition="before" #settings1="matMenu">-->
                      <!--&lt;!&ndash;<button mat-menu-item (clickAction)="openTemplate()"> Settings </button>&ndash;&gt;-->
                      <!--&lt;!&ndash;<mat-divider></mat-divider>&ndash;&gt;-->
                      <!--<button mat-menu-item> Remove </button>-->
                    <!--</mat-menu>-->
                  <!--</span>-->
        <!--</div>-->
      <!--</mat-card-title>-->
      <!--<mat-divider></mat-divider>-->
      <!--<div [style.height.px]="280">-->
        <!--<ngx-charts-line-chart-->
          <!--[scheme]="{ domain: [ '#4DD0E1', '#BA68C8', '#FF7043' ] }"-->
          <!--[results]="times"-->
          <!--[gradient]="gradient"-->
          <!--[autoScale]="false"-->
          <!--[xAxis]="true"-->
          <!--[yAxis]="true"-->
          <!--[legend]="true"-->
          <!--[showXAxisLabel]="true"-->
          <!--[showYAxisLabel]="true"-->
          <!--[xAxisLabel]="xAxisLabel"-->
          <!--[yAxisLabel]="yAxisLabel"-->
          <!--[xAxisTickFormatting]="axisDate">-->
        <!--</ngx-charts-line-chart>-->
      <!--</div>-->
    <!--</mat-card>-->
  <!--</div>-->
  <!--<div fxFlex="50" fxFlex.sm="50">-->
    <!--<mat-card>-->
      <!--<mat-card-title>-->
        <!--<div layout="row" layout-align="start center">-->
          <!--<span flex>Card title</span>-->
          <!--<span>-->
                    <!--<button mat-icon-button-->
                            <!--matTooltip="Card settings"-->
                            <!--[mat-menu-trigger-for]="settings2">-->
                      <!--<mat-icon>more_vert</mat-icon>-->
                    <!--</button>-->
                    <!--<mat-menu xPosition="before" #settings2="matMenu">-->
                      <!--&lt;!&ndash;<button mat-menu-item> Settings </button>&ndash;&gt;-->
                      <!--&lt;!&ndash;<mat-divider></mat-divider>&ndash;&gt;-->
                      <!--<button mat-menu-item> Remove </button>-->
                    <!--</mat-menu>-->
                  <!--</span>-->
        <!--</div>-->
      <!--</mat-card-title>-->
      <!--<mat-divider></mat-divider>-->
      <!--<div [style.height.px]="280">-->
        <!--<ngx-charts-bar-vertical-2d-->
          <!--[scheme]="{ domain: [ '#4DD0E1', '#BA68C8', '#FF7043' ] }"-->
          <!--[results]="multi"-->
          <!--[barPadding]="18"-->
          <!--[groupPadding]="28"-->
          <!--[gradient]="true"-->
          <!--[xAxis]="true"-->
          <!--[yAxis]="true"-->
          <!--[legend]="false"-->
          <!--[showXAxisLabel]="false"-->
          <!--[showYAxisLabel]="false">-->
        <!--</ngx-charts-bar-vertical-2d>-->
      <!--</div>-->
    <!--</mat-card>-->
  <!--</div>-->
</div>
