<form [formGroup]="addEditForm" class="form" style="margin: 0px 1rem">
  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="1rem">
    <ns-input name="staffCode" formControlName="staffCode"
              [placeholder]="moduleName + '.staffCode'"
              style="width: calc(33% - 1rem);"
              [required]="true" [disabled]="isEdit">
    </ns-input>
    <ns-input name="fullName" formControlName="fullName"
              [placeholder]="moduleName + '.fullName'"
              style="width: calc(33% - 1rem);"
              [required]="true" [disabled]="isEdit && !isExists">
    </ns-input>
    <ns-input name="hireDate" formControlName="hireDate"
              [placeholder]="moduleName + '.hireDate'"
              type = "Date"
              style="width: calc(33% - 1rem);"
              [required]="true" [disabled]="isEdit && !isExists">
    </ns-input>
    <ns-date-picker name="hireDate" formControlName="hireDate"
                    [placeholder]="moduleName + '.management.search.hireDate'"
                    style="width: calc(50% - 1rem)"></ns-date-picker>

    <ns-multi-select-autocomplete [placeholder]="moduleName + '.status'"
                                  name="status" formControlName="status" style="width: calc(33% - 1rem);"
                                  [options]="statusValues" [multiple]="false">
    </ns-multi-select-autocomplete>
  </div>
  <div class="btn-sec">
    <button mat-raised-button type="submit" color="primary" class="Update-btn" (click)="onSubmit()"
            [disabled]="addEditForm.invalid || (isEdit && !isExists)"
            *ngIf="hasAuthority()">{{'btnAddEdit'|translate}}
    </button>
    <button mat-raised-button type="submit" color="primary" class="Update-btn" (click)="back()">
      {{'btnCancel'|translate}}
    </button>
  </div>
</form>
